/* Google font imprt */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* Asterisk wildcard selector to override default styles-applies to all elements */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/* General styles */
body{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    /* Header */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}
/* Header */
header{
    background-color: aqua;
}

/* Main */
main{
    background-color: purple;
    /* Make main element take up surplus space to push footer down */
    flex:1 0 auto;
}

/* Footer */
footer{
    background-color: green;
}